extends layout

block content
  h1= title
  p OUT is a web app which you can write your happiness and sadness which is no account no tracker. And the message will random share to others just twice. We'll filter the personal infomation in the messages. 
  p Come on! If you have happiness is not suit to share your friends, or you have some sadness don't know who to say! Just send it out, and let it go!
  
  form
    p(id="others-mind")
    input(type="text" name="mind" placeholder="out your minds")
